body {
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    padding-top: 4em;
}

p {
  <!--margin: 2em 0;--> 
      margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
}

img {
    width: 40em;
    max-width: 90%;
}
